amqp==5.1.1
cachetools==5.3.0
celery==5.2.7
Django==4.2.1
django-appconf==1.0.5
django-autoslug==1.9.9
django-cities==0.6.1
django-cities-light==3.9.2
django-cleanup==8.0.0
django-countries==7.5.1
django-crispy-forms==2.0
django-debug-toolbar==4.0.0
django-environ==0.10.0
django-extensions==3.2.1
django-filter==23.2
django-image-cropping==1.7
django-js-reverse==0.9.1
django-languages==0.1
django-model-utils==4.3.1
django-modeltranslation==0.18.11
django-redis==5.2.0
Pillow==9.5.0
psycopg2==2.9.6