{% extends 'users/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<body>
  <div class="split left">
    <div class="logo">
      <div>
        <img src="{% static 'vendor/img/Logo-blue.svg' %}" />
      </div>
      <div class="ms-auto" style="margin-right: 5%">
          <form id="language-form" action="{% url 'set_language' %}" method="post">{% csrf_token %}
    <input name="next" type="hidden" value="{{ redirect_to }}">
    <select id="language-select" name="language" class="body-text secondary bg-white">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                {{ language.name_local }}
            </option>
        {% endfor %}
    </select>
    <input type="submit" value="Go" style="display: none;">
</form>

<script>
    const languageSelect = document.getElementById('language-select');
    const languageForm = document.getElementById('language-form');

    languageSelect.addEventListener('change', () => {
        languageForm.submit();
    });
</script>
      </div>
    </div>
    <!-- Login Form -->
   <form method="post">
     {% csrf_token %}
      <div class="wrapper fadeInDown">
      <div id="formContent">
        <div class="text-center mb-4">
          <h2>{% trans "Новый пароль" %}</h2>
          <text class="body-text" style="color: #6c757d">
            {% trans "Придумайте новый пароль и дважды" %}<br />
            {% trans "введите его ниже." %}
          </text>
        </div>
        <div class="mb-3 input-with-icon">
          <label for="{{ form.new_password1.id_for_label }}" class="form-label mb-0"
            >{% trans "Новый пароль" %}</label
          >
          <span id="star1">*</span>
          {{ form.new_password1 }}
          <button
            class="toggle-password"
            onclick="togglePasswordVisibility(this)"
          >
            <img
              src="{% static 'vendor/img/eye-open.svg' %}"
              alt="Показать/Скрыть пароль"
            />
          </button>
        </div>
        <div class="mb-3 input-with-icon">
          <label for="{{ form.new_password2.id_for_label }}" class="form-label mb-0"
            >{% trans "Повторите пароль" %}</label
          >
          <span id="star2">*</span>
          {{ form.new_password2 }}
          <button
            class="toggle-password"
            onclick="togglePasswordVisibility(this)"
          >
            <img
              src="{% static 'vendor/img/eye-open.svg' %}"
              alt="Показать/Скрыть пароль"
            />
          </button>
        </div>
        <div class="text-center">
          <button
            id="btn_pass"
            type="submit"
            class="btn btn-secondary w-100"
          >
            <span id="buttonText">{% trans "Установить пароль" %}</span>
          </button>
        </div>
      </div>
      <div class="toast" id="myToast">
        <div class="toast-body">
          <text class="body-text" id="text-error">{% trans "Пароль успешно изменен." %}</text>
        </div>
      </div>
    </div>
   </form>
    <div class="split right empty">
      <div class="centered slideshow-container">
        <img src="{% static 'vendor/img/password-recovery.svg' %}" alt="Avatar man" />
      </div>
    </div>
  </div>
</body>
{% endblock %}
