{% extends 'users/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<style>
  /* STRUCTURE */
  .wrapper {
    padding-top: 33vh;
  }
  @media handheld, screen and (width<768px) {
    .wrapper {
      padding-top: 29vh;
    }
  }
</style>
<body>
  <div class="split left">
    <div class="logo">
      <div>
        <img src="{% static 'vendor/img/Logo-blue.svg' %}" />
      </div>
      <div class="ms-auto" style="margin-right: 5%">

        <form id="language-form" action="{% url 'set_language' %}" method="post">{% csrf_token %}
    <input name="next" type="hidden" value="{{ redirect_to }}">
    <select id="language-select" name="language" class="body-text secondary bg-white">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                {{ language.name_local }}
            </option>
        {% endfor %}
    </select>
    <input type="submit" value="Go" style="display: none;">
</form>

<script>
    const languageSelect = document.getElementById('language-select');
    const languageForm = document.getElementById('language-form');

    languageSelect.addEventListener('change', () => {
        languageForm.submit();
    });
</script>
      </div>
    </div>
    <!-- Login Form -->
    <form method="POST">
      {% csrf_token %}
      <div class="wrapper fadeInDown">
        <div id="formContent">
          <div class="text-center mb-4">
            <h2>{% trans "Восстановление пароля" %}</h2>
            <text class="body-text secondary">
              {% trans "Введите почту. На нее будет отправлена" %} <br />
              {% trans "ссылка для восстановления пароля" %}
            </text>
          </div>
          <div class="mb-3">
            <label for="{{ form.email.id_for_label }}" class="form-label mb-0"
              >Email</label
            >
            <span id="star1">*</span>
            {{ form.email }}
          </div>
          <div class="text-center">
        <button
          id="btn_mail"
          type="submit"
          class="btn btn-secondary w-100 disabled"
        >
        {% trans "Дальше" %}
            </button>
          </div>
        </div>
      </div>


      {% if messages %}
        {% for message in messages %}
        <div class="toasts">
            <div class="toast-body">
              <p class="body-text m-0">{% trans message %}</p>
            </div>
          </div>
        {% endfor %}
      {% endif %}

      {% if form.errors %}
      <div class="toasts-error">
        {% for field in form %}
        {% if field.errors %}
        <div class="toast-body">
          <p class="body-text m-0">
            {% for error in field.errors %}
                {% trans error %}
            {% endfor %}
          </p>
        </div>
        {% endif %}
        {% endfor %}
      </div>
      {% endif %}


    </form>


    <!-- Toast-fluid -->
    <div class="toast" id="toast_mail">
      <div class="toast-body">
        <text class="body-text" id="text-error">
          {% trans "На указанную почту было отправлено" %}<br />
          {% trans "письмо для создания нового пароля." %}
        </text>
      </div>
    </div>
  </div>

  <div class="split right empty">
    <div class="centered slideshow-container">
      <img src="{% static 'vendor/img/password-recovery.svg' %}" alt="Avatar man" />
    </div>
  </div>
</body>
{% endblock %}
